<body>
    <h1>Chat Page</h1>
    Connection <br>
    <label for="msg">Message :</label>
    <input type="text" onkeyup="isTyping()" id="msg" />
    <input type="submit" onclick="sendMsg()" value="send"/>
<script src="/socket.io/socket.io.js"></script>
    <script>
        const socket= io()
        name= prompt("Type your name !")
        socket.on("msg",(data)=>{
        console.log(data)
        p = document.createElement('p')
        p.innerText= data
        document.body.append(p)
        })

        function sendMsg(){
            msg = document.getElementById('msg').value
            console.log(msg)
            data={
                username: name,
                message:msg
            }
            socket.emit("sendMsg",data)
        }

        function isTyping(){
            console.log(name+ " is typing...")
            socket.emit('isTyping',name+ " is typing...")
        }
    </script>
</body>
</html>